// 主题色
$theme-color: #1a1a1a;
$theme-gray: #f1f1f1;
$theme-highlight: rgba(225,11,34,1);
$image-url: 'http://insurance.awbchina.com/ada/';

//小程序默认样式初始化
::-webkit-scrollbar {
	width: 0;
	height: 0;
	color: transparent;
}
button{
	border-radius:0;
}
button::after {
  	border: none;
}